<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
      src="https://kit.fontawesome.com/0756c55a68.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google Fonts Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,500;0,600;1,500;1,600&family=Permanent+Marker&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
        <!-- Main Css Link -->
        <link rel="stylesheet" href="../assets/style/css/main.css">
    <title>Figma Template</title>
</head>

<body>
    <header class="app__header">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="app__header__logo">
                        <img src="../assets/images/logo.png" alt="" />
                    </div>
                </div>
                <div class="col-6">
                    <ul class="app__header__links">
                        <li class="app__header__links__item">
                            <a href="#">About</a>
                        </li>

                        <li class="app__header__links__item">
                            <a href="#">Services</a>
                        </li>

                        <li class="app__header__links__item">
                            <a href="#">Pricing</a>
                        </li>

                        <li class="app__header__links__item">
                            <a href="#">Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <div class="app__header__button">
                        <button>Contact</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="app__main">
        <section class="app__main__hero">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="app__main__hero__content">
                            <div class="app__main__hero__content__subtitle">
                                <h4 class="app__main__hero__content__subtitle__item">
                                    MODERN STUDIO
                                </h4>
                            </div>
                            <div class="app__main__hero__content__title">
                                <h2 class="app__main__hero__content__title__item">
                                    We’re Help To Build Your Dream Project
                                </h2>
                            </div>
                            <div class="app__main__hero__content__desc">
                                <p class="app__main__hero__content__desc__item">
                                    Agency provides a full service range including technical
                                    skills, design, business understanding.
                                </p>
                            </div>
                            <div class="app__main__hero__content__buttons">
                                <button class="app__main__hero__content__buttons--orange">
                                    HOW WE WORK
                                </button>
                                <button class="app__main__hero__content__buttons--transparent">
                                    Contact Us
                                </button>
                            </div>
                            <div class="app__main__hero__content__testimonial">
                                <div class="app__main__hero__content__testimonial__image">
                                    <img src="../assets/images/Bitmap.png" alt="" />
                                </div>
                                <div class="app__main__hero__content__testimonial__body">
                                    <div class="app__main__hero__content__testimonial__body__desc">
                                        <p class="app__main__hero__content__testimonial__body__desc__item">
                                            "Put themselves in the merchant's shoes"
                                        </p>
                                    </div>
                                    <div class="app__main__hero__content__testimonial__body__author">
                                        <p class="app__main__hero__content__testimonial__body__author__item">
                                            Meta Inc.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <img style="width: 100%;" src="../assets/images/pic.png" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <section class="app__main__features">
           <div class="container">
            <div class="row">
                <div class="col-6" style="padding: 40px;">
                    <div class="app__main__features__subtitle">
                        <div class="app__main__features__subtitle__item">
                            How We Work
                        </div>
                    </div>
                    <div class="app__main__features__title">
                        <h4 class="app__main__features__title__item">
                            Making Your Projects Look Awesome
                        </h4>
                    </div>
                    <div class="app__main__features__desc">
                        <p class="app__main__features__desc__item">
                            Technical skills, design, business understanding, ability to put themselves in the
                            merchant's shoes.
                        </p>
                    </div>
                    <div class="app__main__features__button">
                        <button class="app__main__features__button__item">
                            Read More
                        </button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="app__main__features__items">
                        <div class="app__main__features__items__item">
                            <div class="app__main__features__items__item__count">
                                <span>1</span>
                            </div>
                            <div class="app__main__features__items__item__desc">
                                <p class="app__main__features__items__item__desc__item">
                                    Full service range including
                                </p>
                            </div>
                        </div>
                        <div class="app__main__features__items__item">
                            <div class="app__main__features__items__item__count">
                                <span>2</span>
                            </div>
                            <div class="app__main__features__items__item__desc">
                                <p class="app__main__features__items__item__desc__item">
                                    Technical skills, design, business
                                </p>
                            </div>
                        </div>
                        <div class="app__main__features__items__item">
                            <div class="app__main__features__items__item__count">
                                <span>3</span>
                            </div>
                            <div class="app__main__features__items__item__desc">
                                <p class="app__main__features__items__item__desc__item">
                                    Themselves in the merchant's
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="hr">
            </div>
           </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row footer__row--main">
                <div class="col-3 col-md-12 footer__item">
                    <h2 class="footer__item--agency">Agency</h2>
                </div>
                <div class="col-3 col-md-12 footer__item--link">
                    <h5>Menu</h5>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-3 col-md-12 footer__item--link">
                    <h5>Service</h5>
                    <ul>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">See More</a></li>
                    </ul>
                </div>
                <div class="col-3 col-md-12 footer__item--icon">
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <hr>
            <div class="row footer__row--copyright">
                <div class="col-6 col-md-12 copyright">
                    <span>Copyright © 2022 Laaqiq. All Rights Reserved.</span>

                </div>
                <div class="col-6 col-md-12 term-of-use-privacy-col">
                    <a href="#"><span class="terms-of-use">Terms of Use</span></a>
                    <a href="#"><span class="privacy-policy">Privacy Policy</span></a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>