<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/0756c55a68.js" crossorigin="anonymous"></script>
  <!-- Google Fonts Link -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,500;0,600;1,500;1,600&family=Permanent+Marker&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <!-- Main Css Link -->
  <link rel="stylesheet" href="../assets/style/css/main.css" />
  <title>Figma Template</title>
</head>

<body>
  <header class="app__header app__header__desktop">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="app__header__logo">
            <img src="../assets/images/logo.png" alt="" />
          </div>
        </div>
        <div class="col-6">
          <ul class="app__header__links">
            <li class="app__header__links__item">
              <a href="#">About</a>
            </li>

            <li class="app__header__links__item">
              <a href="#">Services</a>
            </li>

            <li class="app__header__links__item">
              <a href="#">Pricing</a>
            </li>

              <li class="app__header__links__item">
                <a href="#">Blog</a>
              </li>
            </ul>
          </div>
          <div class="col-3">
            <div class="app__header__button">
              <button>Contact</button>
        </div>
      </div>
    </header>
    <header class="app__header app__header__mobile">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <img src="../assets/images/logo.png" alt="" />
          </div>
          <div class="col-6">
            <div class="burger">
              <i class="fa-solid fa-bars"></i>
            </div>
          </div>
        </div>
      </div>
    </header>
  <main class="app__main">
    <section class="app__main__hero">
      <div class="container">
        <div class="row">
          <div class="col-6 col-md-12">
            <div class="app__main__hero__content">
              <div class="app__main__hero__content__subtitle">
                <h4 class="app__main__hero__content__subtitle__item">
                  MODERN STUDIO
                </h4>
              </div>
              <div class="app__main__hero__content__title">
                <h2 class="app__main__hero__content__title__item">
                  We’re Help To Build Your Dream Project
                </h2>
              </div>
              <div class="app__main__hero__content__desc">
                <p class="app__main__hero__content__desc__item">
                  Agency provides a full service range including technical
                  skills, design, business understanding.
                </p>
              </div>
              <div class="app__main__hero__content__buttons">
                <button class="app__main__hero__content__buttons--orange">
                  HOW WE WORK
                </button>
                <button class="app__main__hero__content__buttons--transparent">
                  Contact Us
                </button>
              </div>
              <div class="app__main__hero__content__testimonial">
                <div class="app__main__hero__content__testimonial__image">
                  <img style="width: 100%;" src="../assets/images/Bitmap.png" alt="" />
                </div>
                <div class="app__main__hero__content__testimonial__body">
                  <div class="app__main__hero__content__testimonial__body__desc">
                    <p class="app__main__hero__content__testimonial__body__desc__item">
                      "Put themselves in the merchant's shoes"
                    </p>
                  </div>
                  <div class="app__main__hero__content__testimonial__body__author">
                    <p class="app__main__hero__content__testimonial__body__author__item">
                      Meta Inc.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-12">
            <img style="width: 100%;" src="../assets/images/pic.png" alt="">
          </div>
          <hr />
        </div>
      </div>
    </section>
    <section id="experience-design-agency">
      <div class="container">
        <div class="logos">
          <img src="/assets/media/logos/Bitmap.png" alt="" />
          <img src="/assets/media/logos/Bitmap (1).png" alt="" />
          <img src="/assets/media/logos/Bitmap (2).png" alt="" />
          <img src="/assets/media/logos/Bitmap (4).png" alt="" />
          <img src="/assets/media/logos/Bitmap (5).png" alt="" />
        </div>
        <hr />
        <div id="about">
          <div class="upper">
            <img src="../assets/media/experience-design-agency.png" alt="" />
            <div class="text">
              <span class="section--category">About</span>
              <h2 class="section--heading">An Experience Design Agency</h2>
              <h6>Provides a full service range</h6>
              <p class="section--paragraph">
                Ability to put themselves in the merchant's shoes. It is meant
                to partner on the long run, and work as an extension of the
                merchant's team.
              </p>
              <button class="btn--secondary">About Us</button>
            </div>
          </div>
          <div class="lower">
            <div class="row">
              <div class="col-4">
                <div class="box">
                  <h5>42%</h5>
                  <p>Years of experience</p>
                </div>
              </div>
              <div class="col-4">
                <div class="box">
                  <h5>73+</h5>
                  <p>Agency members</p>
                </div>
              </div>
              <div class="col-4">
                <div class="box">
                  <h5>5.000</h5>
                  <p>Projects complete</p>
                </div>
              </div>
            </div>
        </div>
    </section>
    <section class="app__main__features">
      <div class="container">
        <div class="row">
          <div class="col-6 col-md-12" style="padding: 40px">
            <div class="app__main__features__subtitle">
              <div class="app__main__features__subtitle__item">
                How We Work
              </div>
            </div>
            <div class="app__main__features__title">
              <h4 class="app__main__features__title__item">
                Making Your Projects Look Awesome
              </h4>
            </div>
            <div class="app__main__features__desc">
              <p class="app__main__features__desc__item">
                Technical skills, design, business understanding, ability to
                put themselves in the merchant's shoes.
              </p>
            </div>
            <div class="app__main__features__button">
              <button class="app__main__features__button__item">
                Read More
              </button>
            </div>
          </div>
          <div class="col-6 col-md-12">
            <div class="app__main__features__items">
              <div class="app__main__features__items__item">
                <div class="app__main__features__items__item__count">
                  <span>1</span>
                </div>
                <div class="app__main__features__items__item__desc">
                  <p class="app__main__features__items__item__desc__item">
                    Full service range including
                  </p>
                </div>
              </div>
              <div class="app__main__features__items__item">
                <div class="app__main__features__items__item__count">
                  <span>2</span>
                </div>
                <div class="app__main__features__items__item__desc">
                  <p class="app__main__features__items__item__desc__item">
                    Technical skills, design, business
                  </p>
                </div>
              </div>
              <div class="app__main__features__items__item">
                <div class="app__main__features__items__item__count">
                  <span>3</span>
                </div>
                <div class="app__main__features__items__item__desc">
                  <p class="app__main__features__items__item__desc__item">
                    Themselves in the merchant's
                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr class="hr" />
        </div>
      </section>
      <section id="app__main__videoreel">
        <div class="container">
          <div class="row">
            <div class="col-6 col-md-12">
              <div class="app__main__videoreel__imagewrapper">
                <div class="image-overlay"></div>
                <img src="../assets/media/videoreelsec.png" alt="video-reel">
                <i class="fa-solid fa-play play__btn"></i>
                <div class="videoreel--time"><span>1:45</span></div>
              </div>
            </div>
            <div class="col-6 col-md-12 videoreel--content__wrapper">
              <article class="videoreel--content">
                <h5>VIDEO REEL</h5>
                <h3>Unlock The Greatest Value Possible</h3>
                <p>Design, business understanding, ability to put themselves in the merchant's shoes meant to partner.</p>
              </article>
      </section>   
    <section id="give-new-look">
        <div class="container">
          <div class="row">
                <div class="text">
                  <span class="section--category">Features</span>
                  <h2 class="section--heading">Give Your Site A New Look</h2>
                  <p class="section--paragraph">
                    Service range including technical skills, design, business understanding.
                  </p>
                  <ul>
                    <li><i class="fa-solid fa-check icon--small"></i> Range including technical skills</li>
                    <li><i class="fa-solid fa-check icon--small"></i> Range including technical skills</li>
                    <li><i class="fa-solid fa-check icon--small"></i> Range including technical skills</li>
                  </ul>
                </div>
              <img src="../assets/media/newLook.png" alt="">
            </div>
            <div class="row">
              <div class="lower">
                <div class="text">
                  <span class="section--category">Features</span>
                  <p class="section--paragraph">Long run, and work as an extension of the merchant's team.</p>
                  <a href="#">Read More</a>
                </div>
                <div class="boxes">
                  <div class="box box-white">
                    <i class="fa-solid fa-ruler-combined icon--large"></i>
                    <h6>Professional</h6>
                    <p>Full service range including technical skills, design.</p>
                  </div>
                  <div class="box box-transparent">
                    <h6>Accessibility</h6>
                    <p>Business understanding, ability to put themselves.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="app__main__portfolio">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="app__main__portfolio__subtitle">
                <p class="app__main__portfolio__subtitle__item">PORTFOLIO</p>
              </div>
              <div class="app__main__portfolio__title">
                <div class="app__main__portfolio__title__item">LATEST WORK</div>
              </div>
              <div class="app__main__portfolio__links">
                <ul class="app__main__portfolio__links__items">
                  <li class="app__main__portfolio__links__items__item active">
                    <a href="#">Show All</a>
                    <span>14</span>
                  </li>
                  <li class="app__main__portfolio__links__items__item">
                    <a href="#">Design</a>
                    <span>14</span>
                  </li>
                  <li class="app__main__portfolio__links__items__item">
                    <a href="#">Branding</a>
                    <span>14</span>
                  </li>
                  <li class="app__main__portfolio__links__items__item">
                    <a href="#">Illustration</a>
                    <span>14</span>
                  </li>
                  <li class="app__main__portfolio__links__items__item">
                    <a href="#">Motion</a>
                    <span>14</span>
                  </li>
                </ul>
              </div>
              <div class="app__main__portfolio__items">
                <div class="row">
                  <div class="col-4 col-md-12">
                    <div class="app__main__portfolio__items__item">
                      <img src="../assets/images/img1.png" alt="" />
                      <div class="app__main__portfolio__items__item__content">
                        <div
                          class="app__main__portfolio__items__item__content__category"
                        >
                          <p
                            class="app__main__portfolio__items__item__content__category__item"
                          >
                            Design
                          </p>
                        </div>
                        <div
                          class="app__main__portfolio__items__item__content__name"
                        >
                          <p
                            class="app__main__portfolio__items__item__content__name__item"
                          >
                            Sofa
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-8 col-md-12">
                    <div class="app__main__portfolio__items__item">
                      <img src="../assets/images/img3.png" alt="" />
                      <div class="app__main__portfolio__items__item__content">
                        <div
                          class="app__main__portfolio__items__item__content__category"
                        >
                          <p
                            class="app__main__portfolio__items__item__content__category__item"
                          >
                            Branding
                          </p>
                        </div>
                        <div
                          class="app__main__portfolio__items__item__content__name"
                        >
                          <p
                            class="app__main__portfolio__items__item__content__name__item"
                          >
                            KeyBoard
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-8 col-md-12">
                    <div class="app__main__portfolio__items__item">
                      <div class="app__main__portfolio__items__item__image">
                        <img src="../assets/images/img4.png" alt="" />
                      </div>
                      <div class="app__main__portfolio__items__item__content">
                        <div
                          class="app__main__portfolio__items__item__content__category"
                        >
                          <p
                            class="app__main__portfolio__items__item__content__category__item"
                          >
                            Illustration
                          </p>
                        </div>
                        <div
                          class="app__main__portfolio__items__item__content__name"
                        >
                          <p
                            class="app__main__portfolio__items__item__content__name__item"
                          >
                            Work Media
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 col-md-12">
                    <div class="app__main__portfolio__items__item">
                      <img src="../assets/images/img5.png" alt="" />
                      <div class="app__main__portfolio__items__item__content">
                        <div
                          class="app__main__portfolio__items__item__content__category"
                        >
                          <p
                            class="app__main__portfolio__items__item__content__category__item"
                          >
                            Motion
                          </p>
                        </div>
                        <div
                          class="app__main__portfolio__items__item__content__name"
                        >
                          <p
                            class="app__main__portfolio__items__item__content__name__item"
                          >
                            DDDone
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="app__main__portfolio__btn">
                <button>Exploore More</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="app__main__banner">
        <div class="container">
          <div class="app__main__banner__content">
            <div class="row">
              <div class="col-4 col-md-12 app__main__banner__content__block">
                <div class="app__main__banner__content__block__inner">
                  <div class="app__main__banner__content__block__inner__subtitle">
                    <p
                      class="app__main__banner__content__block__inner__subtitle__item"
                    >
                      GET STARTED
                    </p>
                  </div>
                  <div class="app__main__banner__content__block__inner__title">
                    <h3 class="app__main__banner__content__block__inner__title__item">
                      We Help Companies Move Faster
                    </h3>
                  </div>
                  <div class="app__main__banner__content__block__inner__button">
                    <button>Contact Us</button>
                  </div>
                </div>
              </div>
              <div class="col-4 col-md-12 app__main__banner__content__block">
                <img src="../assets/images/img7.png" alt="" />
              </div>
              <div class="col-4 col-md-12 app__main__banner__content__block">
                <img src="../assets/images/img8.png" alt="" />
              </div>
            </div>
            <div class="app__main__banner__content__icon">
                <img src="../assets/images/icon.png" alt="">
              </div>
          </div>
          
        </div>
      </section>
      <section class="app__main__events">
        <div class="container">
            <div class="app__main__events__header">
                <div class="app__main__events__header__subtitle">
                    <h3 class="app__main__events__header__subtitle__item">Eventss</h3>
                </div>
                <div class="app__main__events__header__title">
                    <h2 class="app__main__events__header__title__item">
                        Explore Future Conferences
                    </h2>
                </div>
            </div>
            <div class="app__main__events__content">
                <div class="app__main__events__content__items">
                    <div class="row">
                        <div class="col-4">
                            <div class="app__main__events__content__items__item">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="row footer__row--main">
        <div class="col-3 col-md-12 footer__item">
          <h2 class="footer__item--agency">Agency</h2>
        </div>
        <div class="col-3 col-md-12 footer__item--link">
          <h5>Menu</h5>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-3 col-md-12 footer__item--link">
          <h5>Service</h5>
          <ul>
            <li><a href="#">Design</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">See More</a></li>
          </ul>
        </div>
        <div class="col-3 col-md-12 footer__item--icon">
          <a href=""><i class="fa-brands fa-facebook-f"></i></a>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
      <hr />
      <div class="row footer__row--copyright">
        <div class="col-6 col-md-12 copyright">
          <span>Copyright © 2022 Laaqiq. All Rights Reserved.</span>
        </div>
        <div class="col-6 col-md-12 term-of-use-privacy-col">
          <a href="#"><span class="terms-of-use">Terms of Use</span></a>
          <a href="#"><span class="privacy-policy">Privacy Policy</span></a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>