.container{
  width: 81.15%;
  margin: 0 auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.col-3{
  width: 24.99999%;
}
.col-4{
  width: 33.33333%;
}
.col-6{
  width: 49.99999%;
}
.col-12{
  width: 100%;
}
.col-8{
  width: 66.666%;
}
@include for-tablet-landscape-up{
    .col-md-12{
      width: 100%;
    }
    .col-md-6{
      width: 50%;
    }
}