.app__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #32334c;
  padding: 16px;
  &__links {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__item {
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  &__button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
      background: transparent;
      border-radius: 6px;
      padding: 18px 22px;
      color: white;
      border: 1px solid lightgrey;
      font-weight: bold;
    }
  }
}
.app__header__mobile {
  display: none;
}
@media only screen and (max-width: 992px) {
  .app__header__desktop {
    display: none;
  }
  .app__header__mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    .burger {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: flex-end;
      i {
        border: 1px solid lightgrey;
        padding: 10px;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.295743);
        border-radius: 6px;
        font-size: 24px;
      }
    }
  }
}
