
.app__header {
  width: 100%;
  background-color: #32334c;
  padding: 16px;
  &__links {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__item {
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  &__button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
        background: transparent;
        border-radius: 6px;
        padding: 18px 22px;
        color: white;
        border: 1px solid lightgrey;
        font-weight: bold;
    }
  }
}

