.app__main__banner {
  background-color: #32334c;
  padding-bottom: 20px;
  &__content {
    position: relative;
    border-radius: 6px;
    background: #fdf0e9;
    &__block {
      display: flex;
      justify-content: flex-end;
      padding: 20px;
      &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__subtitle {
          margin-bottom: 13px;
          &__item {
            font-family: "Epilogue";
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #ef6d58;
          }
        }
        &__title {
          margin-bottom: 13px;
          &__item {
            font-family: "Epilogue";
            font-weight: 700;
            font-size: 26px;
            line-height: 32px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #391400;
          }
        }
        &__button {
          button {
            font-family: "Epilogue";
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            text-transform: uppercase;
            background: #ef6d58;
            border-radius: 6px;
            padding: 18px 31px;
            border: none;
            color: #ffffff;
          }
        }
      }
      img {
        align-self: flex-end;
        justify-self: flex-end;
      }
    }
    &__icon{
      position: absolute;
      top: -70px;
      left: 60px;
    }
  }
  
}
@media only screen and (max-width: 992px) {
  .app__main__banner__content__block__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  .app__main__banner__content__icon{
    top: -50px;
    img{
      width: 100px;
    }
  }
  img{
    width: 300px;
  }
  .app__main__banner__content__block{
    justify-content: center;
  }
}