#give-new-look {
  background-color: $section-bgc;

  .text {
    padding-top: 4rem;
    padding-right: 30%;
    span {
      color: $orange;
      font-size: 16px;
      line-height: 32px;
      font-weight: 400;
      margin-bottom: 15px;
      display: inline-block;
    }
    h2 {
      color: $text-dark;
      font-size: 45px;
      font-weight: 800;
      letter-spacing: -1px;
      text-align: left;
      margin-bottom: 18px;
      padding-right: 15%;
    }
    h6 {
      color: $text-dark;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 18px;
    }
    p {
      color: $text-dark-grey;
      font-weight: 400;
      font-size: 14.5px;
      line-height: 32px;
      margin-bottom: 30px;
    }
    ul {
      li {
        margin-bottom: 4%;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: rgba(57, 20, 0, 0.64);;
        i {
          margin-right: 2%;
        }
      }
    }
  }
}
