#service {
  background-color: $section-bgc;
  padding-bottom: 10%;
  .upper {
    padding-bottom: 10%;
    .main {
      object-fit: contain;
      width: 100%;
      @include for-tablet-landscape-up {
        width: 100%;
        order: 1;
      }
    }
    .text {
      padding-top: 4rem;
      padding-left: 13%;
      width: 100%;
      @include for-tablet-landscape-up {
        padding: 2% 0 0 0;
        width: 100%;
        order: 2;
      }
    }
    .comment-wrapper {
      width: 100%;
      display: flex;
      align-items: flex-start;
      margin-bottom: 5%;
      img {
        object-fit: contain;
      }
      .comment {
        padding-left: 5%;
        h6 {
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: $text-dark;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: rgba(57, 20, 0, 0.64);
          margin-bottom: 2%;
        }
      }
    }
  }
  .lower {
    h2 {
      padding-right: 60%;
      margin-bottom: 7%;
      @include for-tablet-landscape-up {
        padding: 0;
      }
    }
    .boxes {
      display: flex;
      flex-wrap: wrap;
      .box {
        padding: 4% 1% 4% 4%;
        border: 1px solid #f3d1bf;
        width: 33.33%;
        @include for-tablet-landscape-up {
          width: 100%;
        }
        i {
          @include icon(24px, 20px);
          margin-bottom: 10%;
        }
        h4 {
          font-weight: 700;
          font-size: 22px;
          line-height: 32px;
          margin-bottom: 10%;
          color: $text-dark;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: rgba(57, 20, 0, 0.64);
          margin-bottom: 17%;
        }
        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: $text-dark;
        }
      }
      .box:first-child {
        border-radius: 6px 0px 0px 6px;
        @include for-tablet-landscape-up {
          border-radius: 0px;
        }
      }
      .box:last-child {
        border-radius: 0px 6px 6px 0px;
        @include for-tablet-landscape-up {
          border-radius: 0px;
        }
      }
    }
  }
}
